button,
select,
.button {
  cursor: pointer;
}

.button {
  display: block;
  color: var(--color-text);
  text-decoration: none;
  border: 2px solid var(--color-outline);
  text-align: center;
  padding: 5px 0;
  margin-bottom: var(--spacing-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  transition: var(--transition-base);
}

.button:hover {
  background: var(--color-white-reverse);
  color: var(--color-white);
}

.actions {
  text-align: center;
}

input, label {
  width: 100%;
  padding: 5px 0;
  margin: var(--spacing-base) 0 0 0;
  font-size: var(--font-size-base);
}

label[for="file"] {
  display: block;
  border: 1px dashed black;
  padding: 10px 0;
}

input:focus {
  outline: none;
  background: var(--color-subtle-grey);
}

::placeholder {
  color: var(--color-medium-grey);
}

input[type="email"] {
  border: none;
  border-bottom: 1px solid black;
  font-size: var(--font-size-base-plus);
  padding: 14px 5px 5px 5px;
}

input[type="file"] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

input[type="submit"] {
  margin-top: var(--spacing-large);
}
