button,
select {
  cursor: pointer;
}

.button {
  display: block;
  color: var(--color-text);
  text-decoration: none;
  border: 2px solid var(--color-outline);
  text-align: center;
  padding: 5px 0;
  margin-bottom: 1rem;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

.button:hover {
  background: var(--color-black);
  color: var(--color-white);
}

.actions {
  text-align: center;
}

input, label {
  width: 100%;
  padding: 5px 0;
  margin: 1rem 0;
  font-size: var(--font-size-base);
}

label[for="file"] {
  display: block;
  border: 1px dashed black;
  padding: 10px 0;
}

input:focus {
  outline: none;
  background: #fafafa;
}

::placeholder {
  color: #8c8c8c;
}

input[type="email"] {
  border: none;
  border-bottom: 1px solid black;
  font-size: 18px;
  padding: 14px 5px 5px 5px;
}
