:root {
  /* Font stacks */
  --font-family-base: 'Hind', sans-serif;

  /* Font weights */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Line heights */
  --line-height-base: 1.5;
  --line-height-tight: 1;

  /* Font sizes */
  --font-size-global: 16px;
  --font-size-xx-small: 10px;
  --font-size-x-small: 12px;
  --font-size-small: 14px;
  --font-size-base: 16px;
  --font-size-base-plus: 18px;
  --font-size-medium: 28px;
  --font-size-large: 36px;
  --font-size-x-large: 48px;

  /* Spacing */
  --spacing-base: 1rem;
  --spacing-x-small: calc(var(--spacing-base) / 4);
  --spacing-small: calc(var(--spacing-base) / 2);
  --spacing-medium: calc(var(--spacing-base) * 1.5);
  --spacing-large: calc(var(--spacing-base) * 2);
  --spacing-x-large: calc(var(--spacing-base) * 4);

  /* Colors */
  --color-black: #313131;
  --color-white: #fff;
  --color-subtle-grey: #fafafa;
  --color-medium-grey: #8c8c8c;
  --color-grey: #646464;

  --color-text: var(--color-black);
  --color-outline: var(--color-black);
  --color-white-reverse: var(--color-black);

  /* Borders */
  --border-radius-base: 3px;
  --border-radius-circle: 50%;

  /* Transitions */
  --transition-base: 0.15s ease-in-out all;
}

