:root {
  /* Font stacks */
  --font-family-base: 'Hind', sans-serif;

  /* Font weights */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Line heights */
  --line-height-base: 1.5;
  --line-height-tight: 1;

  /* Font sizes */
  --font-size-global: 18px;
  --font-size-xx-small: rem(10px);
  --font-size-x-small: rem(12px);
  --font-size-small: rem(14px);
  --font-size-base: rem(18px);
  --font-size-base-plus: rem(20px);
  --font-size-medium: rem(28px);
  --font-size-large: rem(36px);
  --font-size-x-large: rem(48px);

  /* Spacing */
  --spacing-base: 1rem;
  --spacing-x-small: var(--spacing-base) / 4;
  --spacing-small: var(--spacing-base) / 2;
  --spacing-medium: var(--spacing-base) * 1.5;
  --spacing-large: var(--spacing-base) * 2;
  --spacing-x-large: var(--spacing-base) * 4;

  /* Colors */
  --color-black: #313131;
  --color-white: #fff;
  --color-grey: #646464;
  --color-text: var(--color-black);
  --color-outline: var(--color-black);

  /* Borders */
  --border-radius-base: 3px;
  --border-radius-circle: 50%;

  /* Transitions */
  --transition-base: 0.2s ease-in-out all;
}

