<html>
  <head>
  </head>
  <!-- mendes:help -->
  <body style='color: #313131;
               font-family: "Hind", sans-serif;;
               font-size: 18px;
               line-height: 1.5;
               text-align: center;
               background-image: url("<%= NadaWeb.Endpoint.url %>/images/nada-background-desktop.png");'>
    <div class="container">
      <%= render @view_module, @view_template, assigns %>
    </div>
  </body>
</html>
