<html>
  <head>
    <style type="text/css">
      body {
        background-image: url("<%= NadaWeb.Endpoint.url %>/images/nada-background-desktop.png");
        color: #313131;
        font-family: 'Hind', sans-serif;;
        font-size: 18px;
        line-height: 1.5;
        text-align: center;
      }

      a {
        color: #646464;
      }
      a:hover {
        color: #313131;
      }

      .header {
        margin: 50px 0;
      }
      .cta {
        margin: 35px 0;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <%= render @view_module, @view_template, assigns %>
    </div>
  </body>
</html>
