<section>
  <%= render NadaWeb.SharedView, "logo.html", assigns %>
  <header class="dialog">
    <h2>Nice! You've completed your account.</h3>
  </header>
  <div class="actions">
    <p>Now you can login with your face.</p>
    <%= link "Login", to: Routes.session_path(@conn, :new), class: "button" %>
  </div>
</section>
