<section>
  <%= render NadaWeb.SharedView, "nav.html", assigns %>
  <header class="dialog">
    <h2>Last step, please confirm your email.</h2>
  </header>
  <div class="actions">
    <p>Check your spam folder, too.</p>
  </div>
</section>
