<section>
  <header class="dialog">
    <h2>Create an account with your email and a selfie.</h2>
  </header>
  <div class="actions">
    <form action="<%= Routes.registration_path(@conn, :confirm) %>" method="get">
      <input type="email" placeholder="Email" />
      <label for="file">Choose a photo from your library</label>
      <input type="file" id="file" />
      <input type="submit" value="Create my account" class="button" />
    </form>
  </div>
</section>
