.dialog {
  min-height: 10rem;
}

.brand .title {
  margin-bottom: 0;
}
.brand .slogan {
  margin-top: 0;
  font-style: italic;
  font-size: var(--font-size-base-plus);
}
.brand .actions {
  margin-top: 10rem;
}
