<section>
  <%= render NadaWeb.SharedView, "nav.html", assigns %>
  <header class="dialog">
    <h2>Nice! You're authenticated!</h2>
  </header>
  <div class="actions nothing-alert">
    <p>But this app actually doesn't do anything... so... this is awkward.
    <!-- change me to a paragraph -->
    <br>
    <br>
    <%= link "Logout", to: Routes.session_path(@conn, :destroy) %>
  </div>
</section>
