<nav class="nav-logo" role="navigation">
  <%= if !assigns[:hide_navigation] do %>
    <%= link to: Routes.page_path(@conn, :index) do %>
      <img class="logo" src="<%= Routes.static_path(@conn, "/images/nada-logo.png") %>" alt="nada logo" />
    <% end %>
  <% end %>
  <%= if Plug.Conn.get_session(@conn, :authenticated) do %>
    <%= link "Logout", to: Routes.session_path(@conn, :destroy), class: "right" %>
  <% end %>
</nav>
