<div class="header" style="margin: 50px 0;">
  <h1>Welcome to nada</h1>
</div>
<div class="cta" style="margin: 35px 0;">
  <p>Click to <a href='<%= "#{NadaWeb.Endpoint.url}/register/complete/#{@token}" %>'
                 target="_blank"
                 onmouseover="this.style.color='#313131'"
                 onmouseout="this.style.color='#646464'"
                 style="color: #646464;">Confirm your email.</a>
  </p>
</div>
