<section>
  <h1 class="title">nada</h1>
  <p>"login with nothing"</p>
  <p>Get started by logging in or creating an account.<p>
  <%= link "Login", to: Routes.session_path(@conn, :new) %>
<section>
<%= link "Create an account", to: Routes.registration_path(@conn, :new) %>
