<section class="brand">
  <header class="dialog">
    <h1 class="title">nada</h1>
    <p class="slogan">"login with nothing"</p>
  </header>
  <div class="actions">
    <%= link "Login", to: Routes.session_path(@conn, :new), class: 'button' %>
    <%= link "Create an account", to: Routes.registration_path(@conn, :new) %>
  </div>
</section>
