<section class="brand">
  <header class="dialog">
    <img class="logo-landing" src="<%= Routes.static_path(@conn, "/images/nada-logo.png") %>" alt="nada logo"/>
    <p class="slogan">"login with nothing"</p>
  </header>
  <div class="actions">
    <%= link "Login", to: Routes.session_path(@conn, :new), class: 'button' %>
    <%= link "Create an account", to: Routes.registration_path(@conn, :new) %>
  </div>
</section>
